global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    option  forwardfor except 127.0.0.0/8 # forwards the requesting IP
    timeout connect 5s
    timeout client  50s
    timeout server  50s

# Sticky TCP frontend (60000–65000) for forwarding to HTTP
frontend sticky_tcp
    bind *:60000-65000
    mode tcp
    default_backend web_servers_tcp

backend web_servers_tcp
    mode tcp
    balance {{ haproxy_balance_method }}
    option persist
{% for host in groups[haproxy_backend_group] %}
    server {{ host }} {{ hostvars[host].ansible_host | default(host) }}:80 check
{% endfor %}
